* {
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.header > hr {
  position: relative;
  top: 15px;
  border: none;
  height: 6px;
  background: black;
  margin-bottom: 30px;
}

h2 {
  color: darkorange;
}

select {
  min-width: 170px;
}
